.artist h2 {
    margin-top: 120px;
    font-size: 26px;
    font-weight: 800;
}
.artist_cont {
    display: flex;
    margin-bottom: 120px;
}
.artist_cross {
    margin-bottom: 20px;
}
.artist_list_item {
    position: relative;
    margin-right: 20px;
}
.artist_list_item:last-child {
    margin-right: 0;
}
.artist_heart {
    position: absolute;
    bottom: 0;
    right: 0;
}