/* 랭크 */
* {
    padding: 0;
    margin: 0;
}
body {
    overflow-x:hidden;
    overflow-y:auto;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
body {
    /* background: #4d42b1; */
}
.rank {
    padding: 30px;
}
.rank_header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    margin-bottom: 50px;
}
.rank_header_left {
    text-align: left;
}
.rank_header_left > h2 {
    font-size: 28px;
    margin-bottom: 10px;

}
.rank_header_left > p {
    font-size: 20px;
}
.rank_header_right {
    padding: 10px;
    width: 150px;
    text-align: center;
    align-items: center;
    height: 52px;
    border-radius: 10px;
    background: #8166ac;
    color: #fff;
    font-size: 16px;
    border: none;
}
.rank_cont {}
.rank_cont_big3 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.rank_cont_big3 .rank_sum {
    position: relative;
}
.rank_first {
    top: -60px;
}
.rank_two {
    top: -40px;
}
.rank_three {
    top: -20px;
}
.rank_cont_big3 .rank_sum img {
    margin-right: 50px;
    width: 170px;
    height: 170px;
}

.two {
    background: #dad7de;
    padding: 10px 15px;
    border-radius: 50%;
    color: #fff;
    opacity: 0.85;
}
.one {
    background: #ffef2e;
    padding: 10px 15px;
    border-radius: 50%;
    color: #fff;
    opacity: 0.85;
}
.three {
    background: #d49a1a;
    padding: 10px 15px;
    border-radius: 50%;
    color: #fff;
    opacity: 0.85;
}
.two_name {
    background: #dad7de;
    padding: 10px 50px;
    border-radius: 20px;
    color: #fff;
    opacity: 0.85;
}
.one_name {
    background: #ffef2e;
    padding: 10px 50px;
    border-radius: 20px;
    color: #fff;
    opacity: 0.85;
}
.three_name {
    background: #d49a1a;
    padding: 10px 45px;
    border-radius: 20px;
    color: #fff;
    opacity: 0.85;
}
.rank_cont_big3 .rank_sum .num1 {
    position: absolute;
    top: 0;
    left: 0;
}

.rank_cont_big3 .rank_sum .name1 {
    position: absolute;
    bottom: -10px;
    left: 11px;
}

.rank_cont_small {
    width: 100%;  
}

.rank_sum2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 30px;
    background: #b87fe380;
    border-radius: 5px;
    width: 100%;
}
.num2 {
    font-size: 24px;
    margin-right: 20px;
    color: #fff;
    margin-left: 20px;
}
.rank_sum2 img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.name2 {
    font-size: 20px;
    margin-left: 20px;
}

@media (max-width: 1024px){
    .rank_header {
        width: 80%;
    }
    /* .rank_cont_small {
        width: 80%;
    } */
    .dung1 {
        position: absolute;
        left: 15%;
    }
    .rank__inner {
        width: 100%;
    }
    .rank_sum2 {
        width: 80%;
    }
}
@media (max-width: 767px){
    .rank_header {
        width: 60%;
    }
    .rank_cont_small {
        width: 60%;
    }
    /* .rank_cont_big3 {
        position: relative;
    } */
    .dung1 {
        position: absolute;
        left: 5%;

    }
    .dung2 {
        position: absolute;
        left: 23%;
    }
    .dung3 {
        position: absolute;
        left: 40%;
    }
    .rank_cont_small {
        margin-top: 170px;
    }
    .rank_cont_big3 .rank_sum img {
        margin-right: 50px;
        width: 128px;
        height: 128px;
    }
    .rank_cont_big3 .rank_sum .name1 {
        font-size: 12px;
    }
    .two_name {
        padding: 10px 35px;
    }
    .one_name {
        padding: 10px 35px;
    }
    .three_name {
        padding: 10px 35px;
    }
}
@media (max-width: 480px){
    .rank_header {
        width: 30%;
    }
    .rank_cont_small {
        width: 30%;
    }
    .rank_cont_big3 {
        position: relative;
    }
    .dung1 {
        position: absolute;
        left: 3%;
    }
    .dung2 {
        position: absolute;
        left: 13%;
    }
    .dung3 {
        position: absolute;
        left: 23%;
    }
    .rank_cont_small {
        margin-top: 120px;
    }
    .rank_cont_big3 .rank_sum img {
        margin-right: 10px;
        width: 70px;
        height: 70px;
    }
    .rank_cont_big3 .rank_sum .name1 {
        font-size: 8px;
    }
    .two_name {
        padding: 5px 7px;
    }
    .one_name {
        padding: 5px 7px;
    }
    .three_name {
        padding: 5px 2px;
    }

}