.memory__wrap {}
.memory__inner {
    width: 700px;
    height: 700px;
    border: 3px solid #08f;
    background: #000;
    position: absolute;
    left: 300px;
    top: 100px;
    border-radius: 20px;
    animation: flicker 1.5s infinite alternate;
}
.memory__card {
    padding: 30px;
}
.memory__card .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.memory__card .cards li {
    list-style: none;
    width: 150px;
    height: 150px;
    /* background: #fff; */
    position: relative;
    transform-style: preserve-3d;
    perspective: 500px;
}

.memory__card .cards li img {
    width: 100%;
}
.memory__card .cards li .view {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(120, 153, 217);
    backface-visibility: hidden;
    padding: 10%;
    border-radius: 20px;
    transition: all 0.3s;
    user-select: none;
    pointer-events: none;

}
.memory__card .cards li div {
    border-radius: 20px;
}
.memory__card .cards li .front {
}
.memory__card .cards li.flip .front {
    transform: rotateY(180deg);
}
.memory__card .cards li .back {
    transform: rotateY(180deg);
}
.memory__card .cards li.flip .back {
    transform: rotateY(0deg);
}
.memory__card .cards li.shakeX {
    animation: shakeX 1s 1;
}
.memory__card .cards li.shakeY {
    animation: shakeY 1s 1;
}
@keyframes flicker {
    0%,100% {
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem #08f,
            inset 0 0 2rem #08f,
            0 0 4rem #08f,
            inset 0 0 4rem #08f;
    }
}

@keyframes shakeX {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }
  .animate__shakeX {
    -webkit-animation-name: shakeX;
    animation-name: shakeX;
  }


  @keyframes shakeY {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  }
  .animate__shakeY {
    -webkit-animation-name: shakeY;
    animation-name: shakeY;
  }
  .memory__wrap {
    display: none;
  }
  .memory__wrap.show{
    display: block;
  }
  .memory__wrap.hide{
    display: none;
  }
  