.memory__wrap {
  display: none;
  position: absolute;
  left: 700px;
  top: 200px;
}
.memory__wrap.show {
  display: block;
}
.memory__inner {
  width: 500px;
  border: 3px solid #fff;
  background: #000;
  border-radius: 20px;
  animation: flicker 1.5s infinite alternate;
}
.memory__inner h2 {
  text-align: center;
  color: #fff;
  margin-top: 30px;
  font-size: 30px;
}
.memory__score {
  color: #fff;
  font-weight: normal;
  text-align: right;
  margin-top: 5px;
  margin-right: 30px;
}
.memory__score span {
  font-weight: 700;
  color: blue;
}
.memory__card {
  padding: 30px;
  pointer-events: none;
}
.memory__card .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.memory__card .cards li {
  list-style: none;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 500px;
}
.memory__card .cards li img {
  width: 100%;
}
.memory__card .cards li .view {
  padding: 20px;
  position: absolute;
  background: rgb(236, 236, 236);
  border-radius: 10px;
  backface-visibility: hidden;
  transition: all 0.5s;
  border: 1px solid rgb(255, 255, 255);
  pointer-events: none;
}
.memory__card .cards li.shakeX {
  animation: shakeX 0.8s;
}
.memory__card .cards li .view.front {
  box-sizing: border-box;
  animation: flicker2 1.5s infinite alternate;
}
.memory__card .cards li.flip .view.front {
  transform: rotateY(180deg);
}
.memory__card .cards li .view.back {
  background: rgb(236, 236, 236);
  transform: rotateY(-180deg);
  animation: flicker3 1.5s infinite alternate;
}
.memory__card .cards li.flip .view.back {
  transform: rotateY(0deg);
}
.memory__card .cards li .view img {
  width: 100%;
}

/* memory__info */
.memory__info {
  display: none;
  width: 400px;
  background: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 30px 70px;
  border-radius: 10px;
  border: 3px solid #fff;
  animation: flicker 1.5s infinite alternate;
}
.memory__info.show {
  display: block;
}
.memory__info h3 {
  color: #fff;
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
}
.memory__info__desc li {
  font-size: 20px;
  color: #fff;
  list-style: none;
  margin-top: 5px;
}
.memory__start__btn {
display: inline-block;
font-size: 30px;
font-weight: 700;
text-align: center;
color: #fff;
background: #000;
border-radius: 10px;
padding: 12px 30px 14px;
border: 3px solid #fff;
animation: flicker3 1.5s infinite alternate;
position: absolute;
left: 50%;
bottom: -30px;
transform: translateX(-50%);
}
.memory__start__btn:hover {
color: rgb(60, 41, 226);
text-shadow: 0 0 5px #fff;
}

/* memory__gameOver__msg */
.memory__gameOver__msg {
  display: none;
  width: 400px;
  background: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 30px 70px;
  border-radius: 10px;
  border: 3px solid #fff;
  animation: flicker 1.5s infinite alternate;
}
.memory__gameOver__msg.show {
  display: block;
}
.memory__gameOver__msg h3 {
  color: #fff;
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
}
.gameOver__msg {
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  line-height: 1.4;
}
.gameOver__msg span {
  font-size: 20px;
  font-weight: 700;
  color: blue;
}
.memory__retry__btn {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #000;
  border-radius: 10px;
  padding: 12px 30px 14px;
  border: 3px solid #fff;
  animation: flicker3 1.5s infinite alternate;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
}
.memory__retry__btn:hover {
color: rgb(54, 72, 235);
text-shadow: 0 0 5px #fff;
}

/* memory__close__btn */
.memory__close__btn {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 1px 18px 9px 17px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  animation: flicker3 1.5s infinite alternate;
}

@keyframes flicker {
  0%,
  100% {
      box-shadow: 0 0 0.3rem #fff, inset 0 0 0.3rem #fff,
          0 0 1rem rgb(66, 42, 202), inset 0 0 1rem rgb(66, 42, 202),
          0 0 2rem rgb(66, 42, 202), inset 0 0 2rem rgb(66, 42, 202);
  }
}
@keyframes flicker2 {
  0%,
  100% {
      box-shadow: 0 0 0.1rem #fff, inset 0 0 0.1rem #fff,
          0 0 0.5rem rgb(129, 13, 224), inset 0 0 0.5rem rgb(129, 13, 224),
          0 0 1rem rgb(129, 13, 224), inset 0 0 1rem rgb(129, 13, 224);
  }
}
@keyframes flicker3 {
  0%,
  100% {
      box-shadow: 0 0 0.2rem #fff, inset 0 0 0.2rem #fff,
          0 0 0.9rem rgb(66, 42, 202), inset 0 0 0.9rem rgb(66, 42, 202),
          0 0 1rem rgb(66, 42, 202), inset 0 0 1rem rgb(66, 42, 202);
  }
}
@keyframes shakeX {
  from,
  to {
      transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
      transform: translate3d(-5px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
      transform: translate3d(5px, 0, 0);
  }
}
@keyframes shakeY {
  from,
  to {
      transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
      transform: translate3d(0, -10px, 0);
  }

  20%,
  40%,
  60%,
  80% {
      transform: translate3d(0, 10px, 0);
  }
}











/* .memory__wrap {}
.memory__inner {
    width: 700px;
    height: 700px;
    border: 3px solid #08f;
    background: #000;
    position: absolute;
    left: 300px;
    top: 100px;
    border-radius: 20px;
    animation: flicker 1.5s infinite alternate;
}
.memory__card {
    padding: 30px;
}
.memory__card .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.memory__card .cards li {
    list-style: none;
    width: 150px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 500px;
}

.memory__card .cards li img {
    width: 100%;
}
.memory__card .cards li .view {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(120, 153, 217);
    backface-visibility: hidden;
    padding: 10%;
    border-radius: 20px;
    transition: all 0.3s;
    user-select: none;
    pointer-events: none;

}
.memory__card .cards li div {
    border-radius: 20px;
}
.memory__card .cards li .front {
}
.memory__card .cards li.flip .front {
    transform: rotateY(180deg);
}
.memory__card .cards li .back {
    transform: rotateY(180deg);
}
.memory__card .cards li.flip .back {
    transform: rotateY(0deg);
}
.memory__card .cards li.shakeX {
    animation: shakeX 1s 1;
}
.memory__card .cards li.shakeY {
    animation: shakeY 1s 1;
}
@keyframes flicker {
    0%,100% {
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem #08f,
            inset 0 0 2rem #08f,
            0 0 4rem #08f,
            inset 0 0 4rem #08f;
    }
}

@keyframes shakeX {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }
  .animate__shakeX {
    -webkit-animation-name: shakeX;
    animation-name: shakeX;
  }


  @keyframes shakeY {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  }
  .animate__shakeY {
    -webkit-animation-name: shakeY;
    animation-name: shakeY;
  }
  .memory__wrap {
    display: none;
  }
  .memory__wrap.show{
    display: block;
  }
  .memory__wrap.hide{
    display: none;
  } */
  