.tetris__wrap {
}
.tetris__inner {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.3);
}
.tetris__start {
}
.tetris__restart {
}
.tetris__play {
}
.playground {
}
.playground > ul {
  border: solid 2px #fff;
}
.playground > ul > li {
  list-style: none;
  width: 100%;
  height: 50px;
}
.playground > ul > li > ul {
  display: flex;
}
.playground > ul > li > ul > li {
  list-style: none;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
}
.Tmino {
  border: 10px #a042a2 outset !important;
  background-color: #952d98;
}
.Lmino {
  border: 10px #ff861a outset !important;
  background-color: #ff7900;
}
.Jmino {
  border: 10px #1a74c4 outset !important;
  background-color: #0065bd;
}
.Zmino {
  border: 10px #ef3e4d outset !important;
  background-color: #ed2939;
}
.Smino {
  border: 10px #78c53e outset !important;
  background-color: #69be28;
}
.Omino {
  border: 10px #fed01a outset !important;
  background-color: #fecb00;
}
.Imino {
  border: 10px #1aa9de outset !important;
  background-color: #009fda;
}
