.tetris__wrap {
  display: none;
  position: absolute;
  width: 350px;
  left: 800px;
  top: 180px;
}
.tetris__wrap.show {
  display: block;
}
.tetris__inner {
  background: rgba(0, 0, 0, 0.75);
}
.tetris__close__btn {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 10px 14px 13px 14px;
  border: 1px solid #fff;
  transform: scaleX(1.4);
}
.tetris__close__btn span {
  color: #fff;
}
.tetris__close__btn:hover {
  background: rgba(81, 0, 173, 0.747);
  text-shadow: 0 0 0.2rem rgb(255, 255, 255);
}
.tetris__title {
  font-size: 30px;
  font-weight: 700;
  align-items: center;
  margin-bottom: 10px;
}
.tetris__title div {
  color: #fff;
  margin-left: 45px;
}
.tetris__start {
  display: none;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background: #000;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
.tetris__start.show {
  display: block;
}

.tetris__start .desc {
  color: #fff;
}
.tetris__desc__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.787);
}
.tetris__desc__desc {
  line-height: 1.6;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.525);
}
.tetris__start .start__btn {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  padding: 1px 30px 2px;
  border-radius: 30px;
  border: 1px solid #fff;
}
.tetris__start .start__btn:hover {
  background: rgba(81, 0, 173, 0.747);
  text-shadow: 0 0 0.2rem rgb(255, 255, 255);
}

.tetris__restart {
  display: none;
  font-size: 30px;
  color: #fff;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background: #0009;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  z-index: 11;
}
.tetris__restart.show {
  display: block;
}
.tetris__restart img {
  width: 300px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
  z-index: -1;
}
.tetris__restart .desc {
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}
.tetris__total {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  margin-bottom: 20px;
}
.tetris__total .time {
  margin-right: 10px;
  font-weight: 300;
  color: #fff;
}
.time span {
  color: blue;
  font-weight: 700;
}
.line span {
  color: blue;
  font-weight: 700;
}
.tetris__total .line {
  color: #fff;
  font-weight: 300;
}
.tetris__restart .tetris__score {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}
.tetris__score span {
  font-weight: 700;
  color: blue;
}

.tetris__restart .restart__btn {
  display: inline-block;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  padding: 1px 30px 2px;
  border-radius: 30px;
  border: 1px solid #fff;
  z-index: 12;
}
.tetris__restart .restart__btn:hover {
  background: rgba(81, 0, 173, 0.747);
  text-shadow: 0 0 0.2rem rgb(255, 255, 255);
}

.tetris__play {
  background: #0003;
  backdrop-filter: blur(10px);
}
.tetris__info {
  display: none;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px 10px 10px 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 14px;
  line-height: 1.6;
  text-align: right;
  position: absolute;
  top: 50px;
  left: -77px;
}
.tetris__info div {
  color: #fff;
}
.tetris__info.show {
  display: block;
}
.tetris__info .tit {
  font-size: 16px;
  font-weight: 700;
}
.tetris__info .time {
  margin-bottom: 10px;
}
.tetris__info .line {
}
.tetris__gif {
  display: none;
  width: 100px;
  position: absolute;
  bottom: 0;
}
.tetris__gif.show {
  display: block;
}
.tetris__gif img {
  width: 350px;
  height: 600px;
  opacity: 0.1;
}

.playground {
  border: 3px ridge #fff;
}
.playground > ul {
}
.playground > ul > li {
  list-style: none;
}
.playground > ul > li > ul {
  display: flex;
}
.playground > ul > li > ul > li {
  list-style: none;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(149, 135, 170);
}
/*  */
.Tmino {
  border: 6px #19005285 outset !important;
  background-color: #952d98;
}
.Lmino {
  border: 6px #19005285 outset !important;
  background-color: #ff7900;
}
.Jmino {
  border: 6px #19005285 outset !important;
  background-color: #0065bd;
}
.Zmino {
  border: 6px #19005285 outset !important;
  background-color: #ed2939;
}
.Smino {
  border: 6px #19005285 outset !important;
  background-color: #69be28;
}
.Omino {
  border: 6px #19005285 outset !important;
  background-color: #fecb00;
}
.Imino {
  border: 6px #19005285 outset !important;
  background-color: #009fda;
}
