#section2 {
    height: 3000px;
    background: #000;
    color: #fff;
}
.PORTFOLIO {
    font-size: 500px;
    white-space: nowrap;
    position: relative;
}
.me img {
    width: 380px;
    position: absolute;
    left: 15%;
    top: 15%;
}
.box1 img {
    width: 400px;
    position: absolute;
    left: 0%;
    bottom: 0%;
}
.box1:nth-child(2) img {
    width: 400px;
    position: absolute;
    left: 20%;
    bottom: 0%;
}
.box1:nth-child(3) img {
    width: 400px;
    position: absolute;
    left: 40%;
    bottom: 0%;
}
.box2 img {
    width: 420px;
    position: absolute;
    left: 60%;
    bottom: -5%;
}
.box1:nth-child(4) img {
    width: 400px;
    position: absolute;
    left: 80%;
    bottom: 0%;
}
/* .box1:nth-child(5) img {
    width: 400px;
    position: absolute;
    left: 100%;
    bottom: 0%;
} */
.name_h {
    display: flex;
    justify-content:end;
    margin-right: 160px;
    align-items:baseline;
    margin-top: 400px;
}
.name {
    font-size: 40px;
    font-family: 'Migra-Extralight';
    padding-right: 35px;
}
.name_h h3 {
    font-size: 200px;
}
