#section3 {
    height: 5000px;
    background: #5D8CF3;
    overflow: hidden;
    position: relative;
    color: #000C42;
}
.sec3_top {
}
.sec3_top .work {
    font-size: 30vw;
    text-align: right;
    font-family: 'Migra-Extrabold';
    color: #fff;
    background: #5D8CF3;
}
.sec3 {
    position: relative;
}
.sec3 img:nth-child(1) {
    position: absolute;
    right: 29%;
    bottom: 30%;
    width: 20vw;
}
.sec3 img:nth-child(2) {
    position: absolute;
    right: 2%;
    bottom: -30%;
    width: 5vw;
}
.sec3 img:nth-child(3) {
    position: absolute;
    right: 7%;
    bottom: -30%;
    width: 5vw;
}
.sec3 img:nth-child(4) {
    position: absolute;
    right: 12%;
    bottom: -30%;
    width: 5vw;
}
.sec3 img:nth-child(5) {
    position: absolute;
    right: 17%;
    bottom: -30%;
    width: 5vw;
}
.sec3 img:nth-child(6) {
    position: absolute;
    right: 22%;
    bottom: -30%;
    width: 5vw;
}
.sec3 img:nth-child(7) {
    position: absolute;
    right: 27%;
    bottom: -30%;
    width: 5vw;
}
.sec3 img:nth-child(8) {
    position: absolute;
    right: 32%;
    bottom: -30%;
    width: 5vw;
}
.sec3 img:nth-child(9) {
    position: absolute;
    right: 37%;
    bottom: -30%;
    width: 5vw;
}
.sec3 img:nth-child(10) {
    position: absolute;
    right: 42%;
    bottom: -30%;
    width: 5vw;
}
 img:nth-child(11) {
    position: absolute;
    right: 47%;
    bottom: -30%;
    width: 5vw;
}
.list {
    background: #00006B;
    height: 900px;
}