.slider {}
.slider__header {
    text-align: center;
    margin-top: 213px;
}
.slider__header h3 {
    font-size: 40px;
    font-weight: 700;
}
.slider__header span {
    font-size: 20px;
}
.slider__inner {
    height: 300px;
}
.slider__Img {
}
