/* imageType */
#imageType > h2 {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
}
#imageType > p {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 70px;
}
.image__inner {
    display: flex;
    justify-content: space-between;
}
.image {
    width: 32%;
    position: relative;
    overflow: hidden;
}
.image__box {
    height: 100%;
}
.image__box img {
    transition: all 0.5s ease-in-out;
}
.image__desc {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    backdrop-filter: blur(16px);
    transition: all 0.3s ease-in-out;
}
/* 박스 색 설정 */
.img1 > .image__desc {
    background: rgba(219, 217, 69, 0.452);
}
.img1 > .image__desc h3 {
    color: #000;
}
.img1 > .image__desc .more {
    color: #000;
}
.img2 > .image__desc {
    background-color: rgba(148, 121, 74, 0.452)
}
.img2 > .image__desc h3 {
    color: #000;
}
.img2 > .image__desc .more {
    color: #000;
}
.img3 > .image__desc {
    background-color: rgba(27, 23, 56, 0.452)
}
.img3  > .image__desc h3 {
    color: #fff;
}
.img3  > .image__desc .more {
    color: #fff;
}
/* 애니메이션 효과 */
.img1 .image__desc {
    bottom: -100px;
}
.img1:hover .image__desc {
    bottom: 0;
}
.img2 .image__desc {
    bottom: -100px;
}
.img2:hover .image__desc {
    bottom: 0;
}
.img3 .image__desc {
    bottom: -100px;
}
.img3:hover .image__desc {
    bottom: 0;
}
.image:hover .image__box img {
    transform: scale(1.05);
}
.image__desc h3 {
    font-size: 24px;
    margin-bottom: 5px;
}
.image__desc .more {
    font-size: 16px;
    font-weight: 300;
}
.image__desc .more:hover {
    text-decoration: underline;
}