/* cardType02 */
#cardType > h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    margin-top: 120px;
    text-align: center;
}
#cardType > p {
    font-size: 22px;
    font-weight: 300;
    color: #67778A;
    line-height: 150%;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 70px;


}
.card__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card__inner .card {
    width: 24%;
    position: relative;
}
.card__inner .card:first-child {
    margin-bottom: 50px;
}
.card__inner .card:last-child {
    margin-bottom: 120px;
}
.card__inner .card img {
    margin-bottom: 19px;
    border-radius: 10px;
}
.card__inner .card .tit {
    font-size: 28px;
    margin-bottom: 12px;
    /* 1줄효과 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 18px;
}
.card__inner .card .desc {
    font-size: 18px;
    font-weight: 300;
    color: #555555;
    line-height: 25.2px;
    /* 3줄효과 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.card__inner .card .more {
    width: 25px;
    height: 25px;
    background-image: url(../img/card_arrow.svg);
    display: block;
    position: absolute;
    right: 0;
    top: 225px;
    border-radius: 5px;
}